<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.edu.tongji.backend.course.mapper.TakesMapper">

    <select id="getStudentsByCid" resultType="studentForCourse">
        select u_id, takes.role, name, email
        from user, takes
        where u_id=s_id and c_id=#{c_id};
    </select>

</mapper>