<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.edu.tongji.backend.grade.mapper.LaboratoryMapper">

    <select id="getLabByID" resultType="laboratory">
        select * from laboratory where l_id=#{l_id};
    </select>

    <update id="setProportion">
        update laboratory
        set proportion = #{proportion}
        where l_id=#{l_id};
    </update>


</mapper>